<!-- <h1>{{title}}</h1>
<app-expense-entry></app-expense-entry> -->
<!-- Navigation -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
  <a class="navbar-brand" href="#">{{ title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"  data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-  expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
  <li class="nav-item active">
  <a class="nav-link" href="#">Home
  
  <span class="sr-only">(current)</span>
</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Report</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">Add Expense</a>
</li>
<li class="nav-item">
<a class="nav-link" href="#">About</a>
</li>
</ul>
</div>
</div>
</nav> -->
 <!-- Modified with databinding want to show -->
<!-- <app-expense-entry></app-expense-entry> -->
<!-- Want to show -->
<!-- <app-expense-entry-list></app-expense-entry-list> -->

<!-- Without Responsive webpage below code, create with custom css container to avoid irresponsive web page -->

<!-- <div style="margin-top: 5%;margin-left: 40%;">
  <h3 style="margin-left: -27px;">{{ title }}</h3>
  <img [@enlarge]="isEnlarge ? 'end' : 'start'" src="assets/images/leo.jpg" style="height: 200px" />
  <br><br>
  <button (click)='triggerAnimation()' class="btn btn-primary" style="margin-left: 8%;">{{ this.buttonText }}</button> 
</div> -->

<!-- With Responsive Page below code -->
<!-- <div class = "container">
  <h3>{{ title }}</h3>
  <img [@enlarge]="isEnlarge ? 'end' : 'start'" src="assets/images/leo.jpg" style="height: 200px" />
  <br><br>
  <button (click)='triggerAnimation()' class="btn btn-primary">{{ this.buttonText }}</button> 
</div> -->


<h2>Hi User, Welcome to Angular</h2>
<div>
  <ul>
    <li><a routerLink="/" >Home</a></li>
    <li><a routerLink="/expense-entry">Expense Entry</a></li>
    <li><a routerLink="/expense-entry-list">Expense Entry list</a></li>
  </ul>
</div>

<router-outlet></router-outlet>




  